@font-face {
	font-family: 'tt_norms_bold';
	src: url('../fonts/TypeType - TT Norms Bold.eot');
	src: local('☺'), url('../fonts/TypeType - TT Norms Bold.woff') format('woff'), url('../fonts/TypeType - TT Norms Bold.ttf') format('truetype'), url('../fonts/TypeType - TT Norms Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'tt_norms';
	src: url('../fonts/TypeType - TT Norms Regular.eot');
	src: local('☺'), url('../fonts/TypeType - TT Norms Regular.woff') format('woff'), url('../fonts/TypeType - TT Norms Regular.ttf') format('truetype'), url('../fonts/TypeType - TT Norms Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'tt_norms';
	font-size:14px;
}
ul, li, a, h1, h2, h3, p{
	list-style:none;
	padding: 0px;
	margin:0px;
}
.container-fluid{
	padding: 0px;
}
.header_bg{
	background: url(../images/header_repeat.png) repeat-x center top #fff;
	min-height: 111px;
	width: 100%;
	position:relative;
}
.header_left, .header_right{
	position:absolute;
	top:0px;
}
.header_left{
	background:url(../images/left_header.png) no-repeat left top;
	min-height: 111px;
	width:45%;
	left:0px;
	z-index: 99;
}

.content_area {
    padding: 20px 0;
}

.fields_design table th {
    background: #eceff4;
    padding: 15px 10px;
    border-bottom: 2px solid #6b6b6b;
}
.header_right{
	background: url(../images/right_header.png) no-repeat right top;
	min-height: 111px;
	width:45%;
	right:0px;
	z-index: 99;
}
.logo_pharma{
	min-height: 46px;
	position: relative;
	z-index: 9999;
	margin-top: 30px;
	float:left;
}
.banner_text_right{
	float: right;
	margin: 30px 0 0 100px;
	position: relative;
	z-index: 9999;
	color: #fff;
	font-family:'tt_norms_bold';
	font-size: 18px;
}
.banner_text_right b{
	color: #00b140;
}
.student_id_banner{
	background:url(../images/bg_student_id.png) no-repeat center bottom #eceff3;
	background-size: 100% auto;
	min-height: 620px;
	padding: 120px 0 0;
}
.button_set{
	display:block;
	text-align: center;
	padding: 25px 0 0;
}
.cms_student_btn{
	border-radius: 50px;
	padding: 10px 20px;
	margin: 0 15px;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	min-width: 160px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.13);
	text-shadow: 0px 5px 10px rgba(0,0,0,0.13);
	}

.cms_student_btn:hover{
	text-decoration: none;
}
.signup_btn{
	background:#f78f26;
	border:1px solid #f78f26;
}
.fields_design table td {
    background: #ffffff;
    padding: 15px 10px;
    border-bottom: 1px solid #b5b5b5;
}
.signup_btn:hover{
	background:#FFF;
	border:1px solid #f78f26;
	color: #f78f26;
}
.student_btn{
	background:#FA8072;
	border:1px solid #FA8072;
}
.student_btn:hover{
	background:#FFF;
	border:1px solid #FA8072;
	color: #FA8072;
}
.employee_btn{
	background:#8A2BE2;
	border:1px solid #8A2BE2;
}
.employee_btn:hover{
	background:#FFF;
	border:1px solid #8A2BE2;
	color: #8A2BE2;
}
.visa_btn{
	background:#004BCC;
	border:1px solid #004BCC;
}
.visa_btn:hover{
	background:#FFF;
	border:1px solid #004BCC;
	color: #004BCC;
}

.student_id_banner h2{
	font-size: 24px;
	color: #ffffff;
	display: block;
	text-align: center;
	padding: 15px 0;
}
.student_id_banner h2 b{
	font-weight: bold;
}
.student_id_banner h1{
	font-size: 52px;
	color: #ffffff;
	display: block;
	font-weight:bold;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 0;
}
.login_form{
	padding: 50px;
	border-radius:8px;
	background:url(../images/transperant_img.png) repeat;
	width: 454px;
	margin: auto;
}
.login_form h3{
	font-size: 32px;
	color: #ffffff;
	text-align: center;
	padding: 0 0 15px;
}
.login_form h3 b{
	font-weight: bold;
}
.field_login{
	padding:10px 0;
	display: inline-block;
	text-align: center;
	width: 100%;
}
.field_login span{
	background: #cacaca;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	display:block;
	width: 70px;
	float: left;
	height: 65px;
	overflow: hidden;
}

.fields_design table {
    width: 100%;
    font-size: 14px;
    color: #6a6a6a;
}
.field_login input[type="text"], .field_login input[type="password"]{
	background: #fff;
	border: 0px none;
	height: 65px;
	width: 280px;
	float: left;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	padding: 5px 10px;
	font-size: 18px;
	color: #595959;
}
	background: #fff;
	border: 0px none;
	height: 65px;
	width: 280px;
	float: left;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	padding: 5px 10px;
	font-size: 18px;
	color: #595959;
}
.field_login input[type="button"]{
	height: 60px;
	width: 180px;
	padding: 5px 10px;
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.agent input[type="button"]{
	background: #f78f26;
	border: 1px solid #f78f26;
}
.agent input[type="button"]:hover{
	border: 1px solid #f78f26;
	color: #f78f26;
	background: #FFFFFF;
}
.admin input[type="button"]{
	background: #00b140;
	border: 1px solid #00b140;
}
.admin input[type="button"]:hover{
	border: 1px solid #00b140;
	color: #00b140;
	background: #FFFFFF;
}
.student_id_content{
	background: #eceff3;
	padding: 30px 0;
	text-align: center;
}
.student_id_content .container{
	position: relative;
}
.student_id_content h2{
	font-size:24px;
	color: #6e6e6e;
	text-transform: uppercase;
	text-align: center;
	padding: 40px 0 20px;
}
.student_id_content h2 b{
	font-size:24px;
	color: #6e6e6e;
	text-transform: uppercase;
	font-weight:bold;
}
.student_id_content p{
	font-size:18px;
	color: #353434;
	text-align: center;
	display: inline-block;
	padding:0 50px 20px;
	border-bottom: 5px solid #f78f26;
}
.student_id_content p a{
	color: #35317b;
}
.student_id_forms{
	background: #eceff3;
	padding: 40px 0 20px;
}
.student_id_forms label{
	font-size: 18px;
	color: #373636;
	display: block;
}
.student_id_forms input[type="text"], .student_id_forms input[type="number"]{
	background: #fff;
	border: 0px none;
	font-size: 16px;
	color: #373636;
	height: 46px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 15px;
	width: 100%;
}
.student_id_forms select{
	background: #fff;
	border: 0px none;
	font-size: 16px;
	color: #373636;
	height: 46px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 15px;
	width: 100%;
}
.student_id_forms textarea{
	width:100%;
	background: #fff;
	border: 0px none;
	font-size: 16px;
	color: #373636;
	height: 46px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 15px;
	resize:vertical;
}
.student_forms_raw{
	padding-bottom:30px;
}
.student_bottom_button{
	padding:20px 0;
	border-top: 5px solid #d0d3d6;
	text-align: center;
}
.student_bottom_button input[type="button"]{
	height: 60px;
	width: 180px;
	padding: 5px 10px;
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #f78f26;
	border: 1px solid #f78f26;
}
.student_bottom_button input[type="button"]:hover{
	border: 1px solid #f78f26;
	color: #f78f26;
	background: #FFFFFF;
}
.student_success_message{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #FFF;
	min-height: 200px;
	padding: 50px;
	margin: 0 50px;
	text-align: center;
}
.cmn_student_id_btn{
	height: 60px;
	padding: 10px 20px;
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #f78f26;
	border: 1px solid #f78f26;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.13);
	text-shadow: 0px 5px 10px rgba(0,0,0,0.13);
}
.cmn_student_id_btn:hover{
	background: #FFF;
	border: 1px solid #f78f26;
	color: #f78f26;
	text-decoration: none;
}
.student_success_message h3{
	background:url(../images/success_tick_img.png) no-repeat left top;
	font-size: 32px;
	padding: 10px 0 20px 60px;
	color: #00b140;
	padding-left: 50px;
	display: inline-block;
}
.student_success_message p{
	padding:10px 0 30px;
	font-size: 18px;
	color: #353434;
}
.signout{
	width:59px;
	height:69px;
	position: absolute;
	top:-30px;
	right:0px;
	z-index: 99999;
}
.student_id_table_box{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #FFF;
	min-height: 200px;
	padding: 50px;
	margin: 0 50px;
}
.student_id_tables{
	width: 100%;
	border-top:4px solid #6e6e6e;
}
.student_id_tables tr.top_tr{
	border-bottom:4px solid #6e6e6e;
	font-size: 18px;
	font-weight: bold;
	color: #6e6e6e;
	text-align: left;
}
.student_id_tables tr.normal_tr{
	border-bottom:1px solid #6e6e6e;
	font-size: 18px;
	color: #6e6e6e;
	text-align: left;
}
.student_id_tables td{
	padding:10px 30px;
}
.student_id_tables tr:nth-child(even){
	background:#f0f0f0;
	
}

.student_bottom_button_admin{
	padding:20px 0;
	border-top: 5px solid #d0d3d6;
	text-align: center;
}
.cmn_admin_approve_btn{
	height: 60px;
	width: 180px;
	padding: 5px 10px;
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #00b140;
	border: 1px solid #00b140;
	margin: 0 15px;
}
.cmn_admin_approve_btn:hover{
	border: 1px solid #00b140;
	color: #00b140;
	background: #FFFFFF;
}
.cmn_admin_reject_btn{
	border: 1px solid #00b140;
	color: #00b140;
	background: #FFFFFF;
	margin: 0 15px;
	height: 60px;
	width: 180px;
	padding: 5px 10px;
	font-size: 18px;
	text-transform: uppercase;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.cmn_admin_reject_btn:hover{
	border: 1px solid #00b140;
	color: #FFF;
	background: #00b140;
}

.footer{
	font-size: 16px;
	color:#999999;
	text-align: center;
	padding: 10px 0;
	border-top:2px solid #00b140;
	letter-spacing:2px;
}
