<!DOCTYPE html>
<html>
	<head>
		<title>Student ID</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/style.css" rel="stylesheet">	
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="../app.js"></script>
	</head>

	<body ng-app="myModule">
	
	<div class="container-fluid">
	
		<!-- Header Section starts here-->
		<header class="header_bg">
			<div class="header_left"></div>
			<div class="header_right"></div>
			
			<div class="container">
				<div class="logo_pharma">
					<a href="#"><img src="../images/logo.png" alt="logo"/></a>
				</div>
				
				<div class="banner_text_right">
					Blockchain for Business<br><b>WITH IBM BLOCKCHAIN</b>
				</div>
			</div>

		</header> 
		<!-- Header Section ends here-->
		
		
		<!-- Content Section ends here-->
		<div class="student_id_banner">
		  	<div class="login_form admin">
		  		<h3><b>University Admin</b>Login</h3>
		  		<div class="field_login">
		  			<span><img src="../images/login_icon01.png" alt=""/></span>
		  			<input type="text" ng-model="userName" placeholder="Enter username">
		  		</div>
		  		
		  		<div class="field_login">
		  			<span><img src="../images/login_icon02.png" alt=""/></span>
		  			<input type="password" ng-model="password" placeholder="Enter password">
		  		</div>
		  		
		  		<div class="field_login">
		  			<input type="button" value="Login" ng-click="submitLoginData()">
		  		</div>
		  		
		  	</div>
		</div>
		<!-- Content Section ends here-->


		<!-- Footer Section starts here-->
		<footer class="footer">©  copyright 2018</footer>
		<!-- Footer Section ends here-->
		
	</div>
	</body>

</html>
