<!DOCTYPE html>
<html>
<head>
<title>Digital ID Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="../jQueryAssets/jquery.ui.core.min.css" rel="stylesheet" type="text/css">
<link href="../jQueryAssets/jquery.ui.theme.min.css" rel="stylesheet" type="text/css">
<link href="../jQueryAssets/jquery.ui.tabs.min.css" rel="stylesheet" type="text/css">
<link href="https://unpkg.com/ng-table@3.0.1/bundles/ng-table.min.css">
<script src="../jQueryAssets/jquery-1.11.1.min.js"></script>
<script src="../jQueryAssets/jquery.ui-1.10.4.tabs.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://unpkg.com/ng-table@3.0.1/bundles/ng-table.min.js"></script>
<script src="../app.js"></script>
</head>

<body ng-app="myModule" ng-controller="universityAdmin" ng-init="getUniversityApplicantRequests()">
<div class="container-fluid"> 
  
  <!-- Header Section starts here-->
  <header class="header_bg">
    <div class="header_left"></div>
    <div class="header_right"></div>
    <div class="container">
      <div class="logo_pharma"> <a href="#"><img src="../images/logo.png" alt="logo"/></a> </div>
      <div class="banner_text_right"> Blockchain for Business<br>
        <b>WITH IBM BLOCKCHAIN</b> </div>
    </div>
  </header>
  <!-- Header Section ends here-->
  
  <div class="wrapper">
	<div class="student_id_content">
		<div class="container">
			<div class="signout">
				<a href="#"><img src="../images/sign_out_btn.png" alt="" style="float:right;"/></a>
			</div>
		</div>
		<h2>Review <b>SIGN UP Information for University </b></h2>
		</br>
		<p><a href="#">Review Details?</a> And course completion details and certificates for the applicants</p>
	</div>
    
    <!-- Content Section starts here-->
    <section class="content_area">
      <div class="container">
        <div class="col-md-12 cont">
          <div id="Tabs1">
            <div id="tabs-1">
				<span class="col-md-12 fields_design">
				  <table>
					  <tr>
              <th>Digital ID</th>
              <th>SSN</th>
              <th>Applicant Name</th>
              <th>Course Applied</th>
              <th>Highest Education</th>
              <th>Application Status</th>
					  </tr>
					  <tr ng-repeat="x in tableData">
						<td ng-click="selectedDigitalId(x.digitalIdDataInfo.GovermentId)"><a ng-href="#">REQ-00{{ $index + 1 }}</a></td>
						<td>{{ x.digitalIdDataInfo.GovermentId }}</td>
						<td>{{ x.digitalIdDataInfo.Name }}</td>
						<td>{{ x.digitalIdDataInfo.student.CourseToPursue }}</td>
						<td>{{ x.digitalIdDataInfo.student.HighestEducation }}</td>
						<td>{{ x.digitalIdDataInfo.universityAdmissionStatus }}</td>
					  </tr>
				  </table>
				</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content Section ends here--> 
    
  </div>
  
  <!-- Footer Section starts here-->
  <footer class="footer">©  copyright 2019</footer>
  <!-- Footer Section ends here--> 
  
</div>
<script type="text/javascript">
$(function() {
	$( "#Tabs1" ).tabs(); 
});
    </script>
</body>
</html>
